{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Symfony</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      {% if is_granted('ROLE_ADMIN') %}
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('admin') }}">ADMIN</a>
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<div class="row">
    <div class="col main">
        <h3 class="display-3 text-center">Bienvenido {% if is_granted('ROLE_ADMIN') %} administrador {% endif %} </h3>
    </div>
</div>
<div class="row">
     <div class="col">
        <div id="carouselId" class="carousel slide my-4" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="images/usuarios.jpg" class="d-block w-100" alt="First slide">
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
{% endblock %}