<nav class="nav justify-content-center|justify-content-end">
  <a class="nav-link active" href="#">Active link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled link</a>
</nav>

<div class="row">
    <div class="col main">
        
    </div>
</div>