{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenido al panel de Administracion'%}


{% block main %}
   <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/usuarios.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestion usuarios</h5>
                    <p class="card-text">En el panel izquierdo selecciona 'Usuario'</p>
                    <a href="#" class="btn btn-primary">Ver usuarios</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
